
   
    <div class="wrapper fadeInDown">
      <div id="formContent">
        <div class="fadeIn first" style="width: 500px;height: 116px;">
          <img src="/assets/images/newcrdeitamerica.png" alt="User Icon" />
          <!-- <img src="http:\\10.180.9.145\NcaWeb\assets\images\newcrdeitamerica.png"  alt="User Icon" /> -->
        </div>
    
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div class="col-sm-12 header" >USER LOGIN</div>
          <div class="col-sm-12 fadeIn second">
            <label class="text">UserId</label><span class="">*</span>
            <input type="text" formControlName="userId" id="userId">
            <div *ngIf="loginForm.controls['userId'].errors && !loginForm.controls['userId'].pristine" class="login-error text-danger">
              <div [hidden]="!loginForm.controls['userId'].errors.required">Please enter email</div>
    
            </div>               
            <div class="col-sm-12">
              <hr>
            </div>

            
          </div>
    
    
          <div class="col-sm-12 fadeIn third">
            <label class="text">Password</label><span class="">*</span>
    
            <input type="password" formControlName="password" id="password"
              onkeydown="javascript: return (event.keyCode ==32) ?false  : true" placeholder="*******" maxlength="20"
              minlength="1">
            <div *ngIf="loginForm.controls['password'].errors && !loginForm.controls['password'].pristine"
              class="login-error text-danger">
              <div [hidden]="!loginForm.controls['password'].errors.required">Please enter password</div>
              <div [hidden]="!loginForm.controls['password'].errors?.minlength">Please enter valid password</div>
    
            </div>
    
            <div class="col-sm-12">
              <hr>
            </div>
          </div>
    
          <div class="col-sm-12 fadeIn fourth text buttons-row">
            <button type="submit" nbButton [disabled]=loginForm.invalid>Log in</button>
          </div>
          <div class="pt-2 text-danger">
            <span [hidden]="show" #div></span>
          </div>
        </form>
      </div>
    </div>
  
 
 